body {
  font-family: "Times New Roman", Times, serif; /**/
  background-color: dimgrey; /**/
    margin: 0; /**/
}

.header_image {
  text-align: center; /* center the text */
  color: white; /* white text color */
    font-size: 20px; /**/
}

.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

.navbar a.right {
  float: right; /* Float a link to the right */
}

.navbar a:hover {
  /*background-color: darkgray; /* Grey background color */
  color: lightpink; /* Black text color */
}

.header_image img {
    height: 100%; /**/
    width: 100%; /**/
}

.header_image .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white; /* Grey text */
    width: 100%; /* Full width */
    padding: 2%; /* Some padding */
}

.text_content {
    text-align: center; /* paragraphs and headers in center*/
    color: white; /**/
}

.header_image2 img {
    width: 100%; /**/
}

.search_options {
    color: white; /**/
    padding: 20px; /**/
}

/* Tooltip container */
.tooltip {
  position: relative; /**/
  display: inline-block; /**/
  border-bottom: 1px dotted lightpink; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden; /**/
  width: 120px; /**/
  background-color: lightpink; /**/
  color: white; /**/
  text-align: center; /**/
  padding: 5px 0; /**/
  border-radius: 6px; /**/

  /* Position the tooltip text - see examples below! */
  position: absolute; /**/
  z-index: 1; /**/
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; /**/
}

h1, p {
    color: white; /**/
    text-align: center; /**/
}

.header_database {
      text-align: center; /* center the text */
  color: white; /* white text color */
    font-size: 20px; /**/
    background-color: lightpink; /**/
    padding: 2%; /**/
}

th, td {
    border: 2px solid lightpink; /**/
    text-align:left; /**/
}

table {
    border: 3px solid lightpink; /**/
    border-collapse: collapse; /**/
    color:white; /**/
}
