<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="database.html">Database</a>
        <a href="BLAST.html">BLAST</a>
        <a href="about.html">About Us</a>
    </div>
    <div class="header_image2">
        <img class="us" src="../static/madeliefjes.jpeg" alt="Group photo">
        <div class="content">
        <h1>Meet The Team</h1>
    </div>
        <p>We are Alexander, Kim, Lars and Rutger, first-year Bio-Informatic students. We are from all different backgrounds and of different ages. Our goal is to provide useful, important and quality information about micro-organisms in mushroom compost. Thus, providing fertilization companies with the information they need to develop a compost that provides a consistent larger harvest compacity.
</body>
</html>