<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="database.html">Database</a>
        <a href="BLAST.html">BLAST</a>
        <a href="about.html">About Us</a>
    </div>
    <div class="header_database"><h1>Welcome to BLAST!</h1>
        <p>To use BLAST please select enter a search term.</p></div>
    <div class="search_options"><b>Enter a search term:</b><br>
        <input type="text" placeholder="..." name="search">
        <br><br>
    <button type="button" value="search">BLAST</button></div>
</body>
</html>